.cardStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  align-items: stretch;
  background: var(--background-color);
  border-radius: 1rem;
  padding: 0.5rem;
}
