:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Backgrounds */
  --background-color: #f8fafc;
  --background-container-color: #4646463d;

  /* Text */
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  /* Borders */
  --border-color: #e2e8f0;

  /* Inputs */
  --borderInput: #cbd5e1;
  --bgInput: #ffffff;

  /* Accent */
  --primary-color: #6366f1;
  --success-color: #22c55e;
  --error-color: #ef4444;
}

html.dark {
  --background-color: #0f172a;
  // --background-container-color: #1e293b;
  --background-container-color: #d1d5dc;

  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;

  --border-color: #334155;

  --borderInput: #475569;
  --bgInput: #1e293b;

  --primary-color: #818cf8;
  --success-color: #4ade80;
  --error-color: #f87171;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-primary);
}

h1 {
  font-size: clamp(1rem, 14vw, 3rem);
  // line-height: 1.1;
}

.default_button {
  &:hover {
    border-color: #646cff;
  }
}
.default_button {
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

#app {
  min-height: 100vh;
}
